* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* body{
display: flex;
align-items: center;
justify-content: center;} */

.card-body-title span {
    color: var(--primary-color);
    font-weight: 400;
    text-align: center;
}

.card-body-text {
    color: var(--primary-color);
    margin-top: 2px;
    margin-bottom: 2rem;
    text-align: center;
}

.card-footer {
    display: flex;
    justify-content: space-around;

}

.card-footer-social {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
}

.card-footer-social p {
    letter-spacing: 1px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgb(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgb(0, 0, 0, 0.22);
}

.card {
    border-radius: 20px;
    width: 20%;
    height: auto;
    justify-content: center;
    background-color: bisque;
    
}

.card-body-title {
    text-align: center;

}

.container {
    padding: 1px 16px;
}
.card-body-img{
  margin-left: 20px;
  margin-top: 5px;
}